
.profilebox{
    position: absolute;
    width: calc(100% - 300px);
    height: 300px;
    background-color: #61a2ec00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 4px;
}
.profileimg{
    position: absolute;
    right: 0;
    height:300px;
    width: 300px;
    align-items: center;
    display: flex;
}
.profileimg img{
    height: inherit;
    width: inherit;
    border-radius: 50%;
}



.homescreen{
    width: 100vw;
    height: calc(100vh - 30px);
    background-color: rgb(153, 188, 219);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.homescreenreflextion{
    rotate: 180deg;
    transform: scale(-1,1.05);
    filter: brightness(40%);
    border: none;
    filter: blur(2px);
    overflow: hidden;
    z-index: 2;
    box-shadow: none;
}

.content{
    position: absolute;
    color: white;
    width: 70%;
    top: 0px;
    animation: contentani 4s ease;
    /* color: #1a2c74; */
    display: flex;
}
.content p{
    text-align: justify;
}
@keyframes contentani {
    0%{
        top: -100%;
    }
    25%{
        top: -100%;
    }50%{
        top: -100%;
    }100%{
        top: 0px;
    }

}


.homescreen img{
    width: inherit;
    height: inherit;
    position: absolute;
}
.homescreenreflextion img{
}

.mountain2{
    animation: mountain2ani 2s ;
}
.mountain1{
    animation: mountain1ani 1s;
    transform-origin: bottom;
    /* z-index: 2; */
}
.mountain3{
    animation: mountain3ani 3s;
}
.clouds{
    height: 250px !important;
    width: 250px !important;
    left:-25%;;
    top: 10px;
    opacity: 0.8;
    filter: grayscale(0.5);
    animation: clouds1 120s 20s ease-in-out infinite;
}
.clouds2{
    opacity: 0.7;
    filter: grayscale(0.5);
    animation: clouds2 120s ease-in-out infinite;


}
@keyframes clouds1 {
    from{
        left: -25%;

    }
    to{
        left: 100%;
    }
}
@keyframes clouds2 {
    from{
        left: -70%;
    }
    
    to{
        left: 100%;
    }
}
@keyframes mountain3ani {
    0%{
        opacity: 0;
    }
    33%{
        opacity: 0;
    }
    66%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
@keyframes mountain2ani {
    0%{
        visibility: hidden;
        bottom: -100%;
    }
50%{
    visibility: visible;
    bottom: -100%;

}
100%{
        bottom: 0;
    }
    
}
@keyframes mountain1ani {
    from{
        transform: scale(0);
    }to{
        transform: scale(1);
    }
    
}
.fontcolorred{
    color: red;
}
.scrolltestbox{
    height: 300vh;
    width: 100vw;
    z-index: 10;
    background-color: rgb(153, 188, 219);
    position: relative;
}

@media (min-width:668px) and (max-width:1168px) {
    .homescreen{
        height: 50vh;
    }
    .homescreen h1{
        font-size: 20px;
    }
    .content{
        width: 100%;
        top: 10px;
        font-size: small;
        z-index: 1;
        height: 50vh;
    }
}

@media (max-width:668px) {
    .homescreen{
        height: 50vh;
    }
    .homescreenreflextion{
        /* transform: scale(1); */
    }
    .homescreen h1{
        font-size: 18px;
    }
    .content{
        width: 100%;
        top: 00px;
        font-size: small;
        z-index: 1;
        height: 50vh;
    }
    .profileimg{
        display: none;
    }
    .profilebox{
        width: 90%;
    }
}