.pcard{
    width: 300px;
    height: 300px;
    background-color: blanchedalmond;
    border-radius: 10px;
    position: relative;margin: 10px;
    cursor: pointer;
}
.headimg{
    height: 75%;
    width: 100%;
}
.headimg img{
height: 100%;
width: inherit;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
}
.cardbody{
    width: 100%;
    height: 25%;
    background-color: #023047;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.pcard:hover .cardbody{
    position: absolute;
    bottom: 0;
    height: 65%;
    animation: cardbodyopen 0.5s ease;
}
@keyframes cardbodyopen {
    from{
        height: 25%;
    }to{
        height: 65%;
    }
    
}
.cardbody h2{
    padding: 4px 0;
}
.cardbody p{
    padding: 2px;
    text-align: justify;
    
}
.cardbtns{
    width: 90%;
    padding: 0 10px;
    justify-content: space-between;
    display: flex;
}
.checkoutbtn img{
    height: inherit;
    width: inherit;
    scale: 0.8;
}
.checkoutbtn{
    padding: 2px 5px;
    height: 20px;
    width: auto;
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color: #caf0f8;
    color: #000000;
    border: none;
    outline: 1px solid #0096c7;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}
.checkoutbtn:hover{
    background-color: #85cedc;

}
.gitlink{
    width: 20px;
    height: 20px;
}
.gitlink img{
    height: inherit;
    width: inherit;
    filter: invert(1);
    scale: 1.2;
}
.gitlink:hover #giticon{
    filter:drop-shadow(30px 10px 4px #4444dd);
}