.p-container{
    display: flex;
    align-items: center;
    justify-content: center;
   width: 70%;
    max-width: 100%;
    padding: 20px;
    border: 1px solid rgba(194, 188, 188, 0.801);
    border-radius: 20px;
    box-shadow: 1px 2px 5px 2px rgba(45, 45, 45, 0.427);
}
.p-left{
    width: 50%;
    height: 300px;
   overflow: hidden;
border: 1px solid gray;
border-radius: 20px;

}
.p-right{
    width: 50%;
    height: 100%;
}
.p-left img{
    width: 100%;
    transform: translateY(0%);
    transition: transform 6s ease-in-out 1s;

}
.p-left img:hover{
    transform: translateY(-70%);

}
.p-right h2{
    text-align: center;
    font-size: 32px;
    padding: 10px;
}
.p-right p{
    padding: 10px;
text-align: center;
}
.stackused{
display: flex;
flex-flow: wrap;
align-items: center;
justify-content: center;
padding: 10px;
}
.stack{
    padding: 4px 10px;
    border: 1px solid gray;
    margin: 0 2px;
    font-weight: bolder;
    font-size: 24px;
    border-radius: 5px;
    box-shadow: 1px 2px 1px 1px grey;

    
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btnicons{
    height: 30px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    justify-content: center;
    background-color: #03045e;
    color: white;
    font-weight: bold;
    margin:4px 4px;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.btnicons img{
    height: inherit;
    scale: 0.6;
    filter: invert(1);
}
.btnicons:hover{
box-shadow: 1px 2px 2px 2px #03045e;
}

@media (max-width:850px) {
    
    .p-container{
        flex-direction: column;
    }
    .p-left{
        width: 100%;
    }
    .p-right{
        width: 100%;
    }
}