*{
  margin:0 ;
  padding: 0;
}
body{
  overflow-x: hidden;
}
::-webkit-scrollbar{
  width: 10px;
  z-index: 1;

}
::-webkit-scrollbar-track{
  background-color: #5991db;
  z-index: 1;
  
}
::-webkit-scrollbar-thumb{
  background-color: #012732;
  border-radius: 30px;
}