@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Kalam&family=Marhey&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Itim&family=Jockey+One&family=Jomolhari&family=Jost&family=Kalam:wght@300;400&family=Marhey&display=swap');
*{
  margin:0 ;
  padding: 0;
}

body{
  overflow-x: hidden;
  background-color: #EEF4F9;

}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 10px;
  z-index: 1;

}
::-webkit-scrollbar-track{
  z-index: 1;
  
  background-color: #012732;
}
::-webkit-scrollbar-thumb{
  background-color: aliceblue;
  border-radius: 30px;
}